@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

html,
body {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 4.5rem;
  letter-spacing: 0.2rem;
}
h2 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 400;
}
.grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
}

.square {
  border: 1px solid black;
  cursor: pointer;
}

.square.mole {
  background-image: url("mole.jpg");
  background-size: cover;
}

.alert {
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem #000000aa;
  height: 20rem;
  left: 50%;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -500%);
  width: 50rem;
  z-index: 2;
  transition: all 0.8s;
}

.alert.active {
  transform: translate(-50%, -50%);
}

.alert.active + .layer {
  background-color: #000000aa;
  display: block;
}

p {
  font-size: 2rem;
  line-height: 5rem;
  margin: 2.5rem 0;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}
